@model List<WebSach.Models.Reaction>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in ViewBag.data)
{
    if (item.Parent == 0)
    {
        <div class="comment_parent" style="width:100%;background:#808080">
            <label>@item.Comment_content</label>
            @{Html.RenderAction("_ChildComment", "AdminReactions", new { Comment_Id = item.Comment_Id });}
        </div>
    }

}
