
@model List<WebSach.Models.Categories>

@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var category in Model)
        {
            <ul>
                <a href="@Url.Action("TheLoai", "HomeAdmin", new { type = category.Category_Id })">@category.Category_Name</a>

            </ul>
        }
    </ul>
}
